.navbar .btn-outline-light:hover{
  color: var(--bs-dark);
}

.navbar{
  transition: all 0.5s ease-in-out;
}

.header{
  background: url(../images/header-background.jpg) center center no-repeat;
  background-size: cover;
}

.hstack {
  align-items: start !important;
}

.navbar-sticky{
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.modal-dialog {
  max-width: 1040px !important;
}

.download{
  background: url(../images/download-background.jpg) center center no-repeat;
  background-size: cover;
}

.map iframe{
  left: 0;
  top: 0;
  height: 400px;
  width: 100%;
  border: none;
}